In [1]:
import pandas as pd
import os

In [2]:
small_dataframes = []
csv_files = os.listdir('./data/')
for small_df in csv_files:
    df = pd.read_csv('./data/' + small_df, sep = ';', header = 0)
    small_dataframes.append(df)
df = pd.concat(small_dataframes).drop_duplicates().reset_index(drop=True)
df = df.sort_values('Name')
df = df.reset_index()
df.drop(columns=df.columns[0], axis=1, inplace=True)
df.drop(columns=df.columns[0], axis=1, inplace=True)
df

,Name,Time,Price,Min_price_24h,Max_price_24h,Market_cap,Vol_24h
0,1inch,2022-11-16 18:24:50.990833,$0.525937,$0.518301,$0.544801,"$327,257,574","$20,044,785"
1,1inch,2022-11-16 17:59:03.829788,$0.523920,$0.518301,$0.544801,"$326,317,040","$20,189,030"
2,1inch,2022-11-16 18:31:20.517608,$0.526769,$0.518301,$0.544801,"$327,257,574","$20,295,031"
3,1inch,2022-11-16 18:37:44.567425,$0.525956,$0.518301,$0.544801,"$327,484,368","$20,026,273"
4,1inch,2022-11-16 18:18:26.179425,$0.525451,$0.518301,$0.544801,"$326,460,280","$20,059,599"
...,...,...,...,...,...,...,...
995,zilliqa,2022-11-16 17:52:39.254623,$0.021420534149,$0.021064324680,$0.022342740752,"$322,686,472","$29,319,080"
996,zilliqa,2022-11-16 17:46:12.812009,$0.021304624858,$0.021064324680,$0.022342740752,"$320,835,497","$29,319,127"
997,zilliqa,2022-11-16 17:37:53.932612,$0.021269308670,$0.021064324680,$0.022342740752,"$320,137,598","$29,429,849"
998,zilliqa,2022-11-16 18:31:20.517608,$0.021378996146,$0.021064324680,$0.022342740752,"$323,206,825","$29,118,231"
999,zilliqa,2022-11-16 18:37:44.567425,$0.021361116183,$0.021064324680,$0.022342740752,"$322,212,171","$29,037,641"

In [3]:
df.to_csv('./coins_dataset.csv', sep=';')